<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Entry</title>
</head>
<body>
    <h4>{{ques1}}</h4><br/>
    <h6>Remaining Chances:{{chances}}</h6>
    <form action="entry" method="POST" >
        {% csrf_token %}
        <input type="text" placeholder="Enter a Key/Word" name="entry" />
        <input type="submit" />
    </form>
</body>
</html>